# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
config.php

# Ignore paths that contain generated content.
files/
sites/*
sites/*/files
sites/*/private
templates/*

# Add minor-key specific paths back in.
!templates/mk_*
# Ignore caches.
templates/*/cache
templates/mk_*/cache

# Ignore licensed content in vendors.
_vendors/fonts/

# Ignore default text files
*.txt

# Ignore system files
.DS_Store
