# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
config.php
config.codekit
web.config

# Ignore paths that contain generated content.
files/
sites/*
sites/*/files
sites/*/private
_templates/*
mantisbt/

# Add MoosePress specific paths back in.
!_templates/MP_*

# Ignore caches.
_templates/*/cache
_templates/MP_*/cache

# Ignore licensed content in vendors.
_vendors/fonts/
_vendors/ckeditor/
_vendors/tinymce/

# Ignore really big files
*.mp4
*.webm

# Ignore system files
.DS_Store
