# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
config.php
config.codekit

# Ignore paths that contain generated content.
files/
sites/*
sites/*/files
sites/*/private
templates/*

# Add MoosePress specific paths back in.
!templates/MP_*

# Ignore caches.
templates/*/cache
templates/MP_*/cache

# Ignore licensed content in vendors.
_vendors/fonts/

# Ignore default text files
*.txt

# Ignore system files
.DS_Store
