# --- Use our MoosePress suffix for PHP --------------------------------------- #
AddType application/x-httpd-php .mp .menu
# --- Directroy Indices ------------------------------------------------------- #
DirectoryIndex index.mp index.php index.html index.htm
# --- Avoid Scripting language suffixes --------------------------------------- #
# --- Using the mp suffix to avoid overwriting PHP                              #
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.mp -f
RewriteRule ^(.*)$ $1.mp
RewriteRule ^(.*)$ $1.php
# --- Set our error pages ----------------------------------------------------- *
ErrorDocument 404 /errors/404
