<div class="header"  aria-labelledby="header-title">
	<div id="header-title">
    <a href="/"><span>MoosePress</span></a>
  </div>
  <div id="header-nav">
    <nav class="header-nav">
      <div id="header-nav-toggle" class="mobile-only">
        <a href="#" role="button" id="menu-control" aria-hidden="true"><i class="fa fa-bars"><span class="reader-only">Navigation menu</span></i></a>
        <a href="#" role="button" id="search-control" aria-hidden="true"><i class="fa fa-search"><span class="reader-only">Search</span></i></a>
        <a href="#" role="button" id="trans-control" aria-hidden="true"><i class="fa fa-globe"><span class="reader-only">Translate</span></i></a>
      </div>
      <div id="header-nav-body" class="mobile-hidden">
        <ul id="header-nav-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Fictions</a></li>
          <li><a href="#">Metonymy</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div role="search" id="navigation-search">
    <form method="get" action="#" id="search">
      <div class="nav-search" role="search">
        <label for="search-box" class="reader-only">Enter a search term in the Search field and press Enter or press the Search button.</label>
        <input type="search" id="search-box" aria-label="Search Field" name="keywords" maxlength="250" placeholder="Search" value="" class="search-query" /><button type="submit" id="search-button" aria-label="Search Button"><i class="fa fa-search"><span class="reader-only">Search</span></i></button>
      </div>
    </form>
  </div>
</div>
{# --- Copyright (c) 2017-2018 Mootly Obviate -- See /LICENSE.md -------------- #}
