{# === Top link fragment ====================================================== #
 # May seem silly, but makes it easy to chage top links across site on the fly. #}
<div class="top-link"><a href="#page-body"><span>[top]</span></a></div>
{# --- Copyright (c) 2017-2018 Mootly Obviate -- See /LICENSE.md -------------- #}
