<div id="access-nav">
  <a href="#content-box" title="Skip to content">Skip to Content</a>
  <h2>Accessible Navigation and Information</h2>
  <p>Use the following links to quickly navigate around the page. The number for each is also the shortcut key. You can jump to:</p>
  <div class="link-list">
    <a href="#access-nav" title="Skip to accessiblity information" accesskey="1"><span class="reader-only">1 </span>Accessible Navigation and Information</a>
    <a href="#page-header" title="Skip to main menu" accesskey="2"><span class="reader-only">2 </span>Main Menu</a>
    <a href="#page-menu" title="Skip to side menu" accesskey="3"><span class="reader-only">3 </span>Local Navigation</a>
    <a href="#sidebar-left" title="Skip to notices" accesskey="4"><span class="reader-only">4 </span>Notices</a>
    <a href="#breadcrumb-box" title="Skip to breadcrumb menu" accesskey="5"><span class="reader-only">5 </span>Breadcrumb Menu</a>
    <a href="#content-box" title="Skip to content" accesskey="6"><span class="reader-only">6 </span>Content</a>
    <a href="#page-footer" title="Skip to footer menu" accesskey="7"><span class="reader-only">7 </span>Footer Menu</a>
  </div>
</div>
{# --- Copyright (c) 2017-2018 Mootly Obviate -- See /LICENSE.md -------------- #}
