{# === Google translate widget ================================================ #}
<div id="google-translate-box">
  <div id="google_translate_element"></div><script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
  }
  </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>       {# Point this to a disclaimer page if you want one.
  <div id="translation-disclaimer"><a href="{{root_path}}/help/translation-disclaimer.php">Translation Disclaimer</a></div>
#}
</div>
{# --- Copyright (c) 2017-2018 Mootly Obviate -- See /LICENSE.md -------------- #}
