<div class="footer">
  <div class="footer-container footer-cols-5">
    <h3>Footer</h3>
      <div class="footer-col">
        <h4>submenu</h4>
        <ul>
          <li><a href="/main/default.asp">A</a></li>
          <li><a href="/main/about/default.asp">B</a></li>
          <li><a href="/main/contact/default.asp">C</a></li>
        </ul>
      </div>

      <div class="social-media">
        <div class="social-media-title">
          <h4>Connect With Us</h4>
        </div>
        <div class="social-media-links">
          <ul>
            <li>
              <a href="http://www.facebook.com/">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a href="http://www.pinterest.com/">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
                <span>Pinterest</span>
              </a>
            </li>
            <li>
              <a href="http://www.twitter.com/">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span>Twitter</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
